h1, h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

body{
    min-height:100vh;
    background-color: #9FA395;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    background: #545D57;
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}

.navbar a {
    font-size:18px;
    font-weight:500;
    text-decoration: none;
    margin-left:40px;
}

.button{
    color:#A2A8A5;
}

#home_button{
    font-size:25px;
    font-weight:500;
    text-decoration: none;
    margin-left:40px;}

.special_button{
    background-color: #A2A8A5;
    color:#545D57;
    padding:10px 15px;
    border-radius: 20px;
}



.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition:1s;
}

.navbar a:hover::before{
    width:100%;
}

.title{
    padding-top: 175px;
    text-align: center;
}
#quotes-container{
    padding-top:60px;
    justify-content:center;
    text-align: center;
    line-height: 40px;
    font-style:italic;
}
